/*configuração universal do site*/
* {

    margin: 0px;
    padding: 0px;

    font-family: Arial;

}

/*configuração do body tag do html*/
body {

    background-color: rgba(0, 0, 0, 0.973);

    color: white;

    font-family: Arial;

}

/*configuração do cabeçalho do site*/
header {

    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 15px;

    border-bottom: 2px solid red;

    height: 60px;

}

.header_divLogo {

    margin-left: 50px;

}

.header_divLogo img {

    height: 90px;

}

.header_divHoPes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-align: center;

}

.header_divHoPes img {

    text-align: center;
    height: 36px;

}

.header_divHoPes a {

    text-decoration: none;

}

.pesquisar {

    height: 30px;
    width: 250px;

    padding-left: 5px;

    border: none;
    border-radius: 10px;

}

.header_divPerfil {

    margin-right: 50px;

}

.header_divPerfil img {

    height: 60px;

}

/*Configurações do "conteiner principal do site*/

main {

    display: grid;
    grid-template-columns: 190px 1fr;
    min-height: calc(100vh - 80px);

}

/*configurações do aside (Da "barra" lateral do site)*/

aside {

    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 190px;

    border-right: 2px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

aside nav {

    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 10px;

}

aside ul {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

aside li {

    list-style: none;

    font-size: 20px;

}

aside a {

    color: white;

    text-decoration: none;

    transition: 0.3s;

}

aside a:hover {

    color: red;

}

aside hr {

    background-color: red;

    height: 1px;
    width: 150px;

    border: none;

    align-self: center;

}



/*Configurações da section principal do site*/
.main_sectionPrin {

    margin-top: 20px;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 50px;

}




#main_section1 h1 {

    text-align: center;

    margin-top: 60px;

    text-shadow: 0 0 15px red;

}

#section_inPtMain {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    margin-top: 100px;

}

#section_ingles {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: rgb(12, 12, 12);

    border: 1px solid red;

    border-radius: 10px;

    width: 370px;
    height: 440px;

    transition: 0.3s;

}

#section_ingles:hover {

    transform: translateY(-5px);

    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);

}

#section_ingles h3 {

    font-size: 30px;

}

#section_listaIG ol {

    color: red;

    font-size: 25px;

}


#section_listaIG a {

    color: white;

    text-decoration: none;

    transition: 0.3s;

}

#section_listaIG a:hover{

    color: red;

}




#section_portugues {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: rgb(12, 12, 12);

    border: 1px solid red;

    border-radius: 10px;

    width: 370px;
    height: 440px;

    transition: 0.3s;

}

#section_portugues:hover {

    transform: translateY(-5px);

    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);

}

#section_portugues h3 {

    font-size: 30px;

}

#section_listaPT ol {

    color: red;

    font-size: 25px;

}

#section_listaPT a {

    color: white;

    text-decoration: none;

    transition: 0.3s;

}

#section_listaPT a:hover{

    color: red;

}

/*configurações do rodapé do site*/
footer {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border: 2px solid red;

    height: 90px;

}

#section_sobre a {

    color: white;

    text-decoration: none;

    font-size: 20px;

    transition: 0.3s;

}

#section_sobre a:hover {

    color: red;

}

#section_copy p {

    font-size: 20px;

}

#section_redes a {

    color: white;

    text-decoration: none;

    font-size: 18px;

    transition: 0.3s;

}

#section_redes a:hover {

    color: red;

}

#section_redes ul {

    text-align: center;

    list-style: none;

}